{% extends 'base.html' %}
{% import 'macros.html' as macro %}
<!-- Styles block -->

{%block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{%endblock%}
<!-- Content block -->
{%block content%}
<div class="jumbotron text-center" style="background-color: crimson; color:black; padding: 100px 25px;">
    <h1>ACING PITCHES</h1>
</div>
<div class="container" style="padding-bottom: 20px;">
    <a href="{{url_for('main.new_pitch')}}" class="btn btn-success">New pitch</a>
</div>

<div class="container" style="background-color: crimson;">
    <div class="row">
        <div class="col-md-4">
            <div class="well well-lg">
                <h3>Interview Pitches</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita, sint sit. 
                    Sunt nam voluptates eligendi. Aliquid impedit veniam fuga accusantium ab. 
                    Accusamus officia deleniti magnam voluptatem, impedit necessitatibus corporis facilis.</p>
                <a href="{{url_for('main.interview_pitches')}}" class="btn btn-primary -center">View Pitch</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="well well-lg">
                <h3>Product Pitches</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit
                    . Iure nesciunt aspernatur sapiente sed, quae reiciendis accusamus facilis 
                    libero at excepturi deleniti voluptatem modi, consequatur culpa laboriosam consequuntur 
                    accusantium quaerat atque!</p>
                <a href="{{url_for('main.product_pitches')}}" class="btn btn-primary -center">View Pitch</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="well well-lg">
                <h3>Promotion Pitches</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit quia
                     iure molestiae harum deserunt vel alias error 
                    in veritatis vitae consequatur totam beatae eius reiciendis esse id, quisquam obcaecati quibusdam?</p>
                <a href="{{url_for('main.promotion_pitches')}}" class="btn btn-primary -center">View Pitch</a>
            </div>
        </div>
    </div>
</div>
{%endblock%}
